@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,200;1,300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* typography */
body {
  font-family: "Poppins";
}
h1 {
  font-size: 3rem;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

nav ul li {
  font-size: 1.1rem;
}

.hero-text p {
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}

button {
  font-size: 1.1rem;
}

.specs-prop {
  font-size: 1.2rem;
}

.specs-prop h5 {
  font-size: 1.4rem;
}

.case-right {
  font-size: 1.2rem;
}

.cta-details h2 {
  font-size: 2rem;
}
.product-desc h5 {
  font-size: 1.3rem;
}
.footer-links ul li:first-child {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.8em;
}

.footer-links {
  font-size: 1.2rem;
}

/* global styles  */

section,
footer {
  background-color: black;
  color: white;
  text-align: center;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.hidden {
  display: none;
}

.btn {
  border: none;
  background-color: #0f0f10;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.btn:hover {
  box-shadow: 0px 0px 22px -5px rgba(224, 25, 51, 1);
}
.product:hover > .product-image {
  transform: scale(1.5);
}

/* landing section styling  */

.landing {
  padding: 2em;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  color: red;
}
.mobile {
  width: 30px;
}

.hero-image {
  position: relative;
  top: -50px;
}

.hero-text > * {
  margin-bottom: 1em;
}

.hero-text {
  text-align: left;
}

/* partner logos  */

.partner-logos {
  padding: 1em;
}
.partner-logos > div {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 3em;
}

/* specs section  */

.specs {
  padding: 2em;
}
.specs-heading {
  margin-bottom: 2em;
}
.specs-left {
  width: 60%;
  margin: 0 auto;
}
.specs-prop {
  margin-bottom: 1.5em;
  text-align: left;
}
.specs-prop > * {
  margin-bottom: 0.1em;
}
.specs-prop:first-child,
.specs-prop:last-child {
  margin-left: 2em;
}

/* case section  */

.case {
  padding-block: 4em;
}
.case-heading {
  margin-bottom: 4em;
}

.case-right {
  text-align: left;
  padding: 2em;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
.case-right > p {
  margin-block: 2em;
}

/* cta section  */

.cta {
  padding: 3em 1em;
}

.cta-details {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #0f0f10;
  padding: 2em;
  border-radius: 10px;
  text-align: left;
}
.cta-right > * {
  margin-bottom: 1em;
}

.cta-right button {
  background-color: #000;
  margin-top: 0.5em;
}

.cta-left {
  max-width: max-content;
}

/* products section  */

.products {
  padding: 3em;
}

.product-heading {
  margin-bottom: 5em;
}

.product {
  width: 200px;
  /* height:150px; */
  background-color: #0f0f10;
  margin-bottom: 4em;
  margin-inline: auto;
}
.product-image {
  width: 100px;
  position: relative;
  top: -50px;
  left: 50px;
}
.product-desc {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.product-desc > span {
  align-self: flex-end;
  width: max-content;
  padding: 0.5em 0.6em;
  background-color: #000;
}
.product-desc > div > * {
  margin-bottom: 0.2em;
}

.product-lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  max-width: 700px;
  margin: 0 auto;
}

/* footer section  */

footer {
  padding: 3em 2em;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  margin-block: 2em;
  text-align: left;
}

.footer-links ul li {
  margin-bottom: 0.2em;
}

.contact {
  padding: 0.5em;
}

.input {
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 0.5em;
}
.input input {
  display: inline-block;
  flex-grow: 1;
  padding: 1em;
  background-color: #0f0f10;
  border: none;
  outline: none;
}
input::placeholder {
  color: white;
}
.input span img {
  width: 30px;
}
.social-icons span + .social-icons span {
  margin-right: 0.5em;
}

@media (min-width: 600px) {
  .footer {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer-links {
    gap: 4em;
  }
  .footer .logo {
    width: 100px;
  }
  .row {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-evenly;
  }
  .right {
    max-width: 500px;
  }
  .left {
    max-width: 500px;
  }
  .case-right {
    margin: 1em;
  }
  .specs-left,
  .specs-right {
    width: auto;
    margin: 0;
  }
  .partner-logos {
    padding: 3em;
  }
  .cta-details {
    padding: 3em;
  }
}

@media (min-width: 900px) {
  .mobile {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .nav ul {
    display: flex;
    gap: 1em;
  }
}
